@import "../../scss/base.scss";

.admin-profile__wrapper {
  background-color: $secondFontColor;
  padding: 10px;
  .admin-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: auto;
    background-color: $mainFontColor;
    margin: 0 auto;
    flex-wrap: wrap;
    // padding: 10px;

    border-radius: 10px;
    text-align: center;
    gap: 20px;

    img {
      height: 80px;
      width: 80px;
    }
    span {
      margin: 20px 0;
      font-size: 20px;
    }
    h2 {
      margin: 0;
    }

    .admin-profile__short-info {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
    }
    // h2 {
    //   padding-top: 50px;
    // }

    .admin-profile__info {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 20px;

      label {
        display: flex;
        flex-direction: column;
        width: 270px;
        textarea {
          // margin-top: 10px;
          border-radius: 5px;
          resize: none;
          font-style: italic;
          text-align: center;
          height: 20px;
        }
        input {
          margin-top: 10px;
        }
      }
    }

    .admin-profile__control {
      display: flex;
      gap: 20px;
      // margin-top: 40px;

      button {
        background-color: rgb(217, 246, 189);
        padding: 3px;
        width: 270px;
        border-radius: 5px;
      }
      .del__user {
        background-color: rgb(240, 194, 194);
      }
    }

    .admin-profile__file__info {
      //   margin-top: 80px;
      display: flex;
      gap: 50px;
      // margin-bottom: 50px;
      label {
        display: flex;
        gap: 10px;
      }
      input {
        width: 80px;
      }
    }
  }
}

@media (max-width: 900px) {
  .admin-profile__wrapper {
    // overflow: auto;
    height: 40vh;
    overflow-y: auto;
    .admin-profile {
      width: auto;
      overflow: auto;

      .admin-profile__short-info {
        flex-direction: column;
      }

      .admin-profile__info {
        flex-direction: column;
      }

      .admin-profile__file__info {
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
        label {
          // width: 270px;
          display: flex;
          justify-content: space-between;
        }
      }

      .admin-profile__control {
        flex-direction: column;
      }
    }
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 14px;
  }
  .admin-profile__wrapper {
    .admin-profile {
      h2 {
        font-size: 14px;
      }
      .admin-profile__file__info,
      .admin-profile__info {
        label {
          flex-direction: column;
          // justify-content: center;
          // align-content: center;
          align-items: center;
          width: 200px;
        }
      }
      .admin-profile__control {
        button {
          width: 200px;
        }
      }
    }
  }
}
