@import "../../../scss/base.scss";

.file-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  min-height: 80vh;
  background-color: $secondFontColor;
  // padding-right: 400px;

  .error__message__wrapper,
  .success__message__wrapper {
    top: 30%;
    left: 40%;
  }
  .success__message__wrapper {
    min-width: 300px;
    text-align: center;
  }
  .preloader__wrapper {
    position: absolute;
  }
}

.container.dragging {
  background-color: rgb(67, 85, 89);
}
